<!doctype html>
<html>
<head>
	<title>APP NAME</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/index.css" rel = "stylesheet">

	<!-- <link href="/css/introHCI.css" rel="stylesheet"> -->

  <!-- Custom styles for this template -->
  <link href="/css/signin.css" rel="stylesheet">


  <!-- Custom styles for this template -->
  <!-- <link href="/css/navbar.css" rel="stylesheet"> -->



	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
  <div class = "container">
      <h1> APP NAME </h1>
      <br>
      <br><br>
      <img src = "/images/toothIcon.png" class = "mainIcon" id = "toothIcon">
      <p id="toothTip"> Holder Text </p>

      <br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>

      <form class="form-index" name = "loginForm">
        <button class = "btn btn-lg btn-primary btn-block" type="button" id = "loginBtn">Login</button>
        <br>
        <button class = "btn btn-lg btn-primary btn-block" type="button" id = "registerBtn">Register</button>
      </form>
      <br><br>
      <div class = "help">
        <img src = "/images/helpIcon.png" class = "helpIcon" id = "helpIcon">
      </div>
  </div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>


  <script src="/js/index.js"></script>
</body>
</html>
